<!DOCTYPE html>
<html>
<head>
    <title>staying-alive</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .links {
            display: flex;
            gap: 10px;
        }
    </style>
</head>
<body>
    <h1>staying-alive</h1>
    <div class="links">
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
    </div>
</body>
</html>
